.filtres{
    @media screen and (min-width: 480px){
        padding-bottom: 40px;
    }

    @media screen and (max-width: 1169px){
        padding-top: 60px;
    }

    @media screen and (min-width: 768px){
        padding-bottom: 30px;
    }

    @media screen and (min-width: 1170px){
        padding-top: 93px;
        padding-bottom: 50px;
    }
}

.filtres-resources{
    display: flex;

    margin: 0;
    padding: 0;

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        justify-content: start;
    }

    @media screen and (min-width: 768px) {
        justify-content: center;
    }

    &-button{
        margin-right: 8px;

        @media screen and (max-width: 767px){
            &:nth-child(-n + 3){
                margin-bottom: 15px;
            }
        }

        &:last-child{
            margin-right: 0px;
        }
    }
}

.filtres-resources button{
    padding: 6px 22px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    border: none;
    /* min-width: 73px; */
    border-radius: 4px;

    transition: color $transition, background-color $transition, box-shadow $transition;

    &:hover,
    &:focus{
        color: $third-text-color;
        background-color: $link-color;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    }

}