footer{
    background-color: $backgroung-footer-color;
    @media screen and (min-width: 1170px) {
        padding-bottom: 21px;
    }
}

.container-footer{
    margin-bottom: 0px;
    
}

.footer-nav{
    @media screen and (min-width: 768px) {
        display: flex;   
        align-items: baseline;     
    }
    @media screen and (min-width: 768px) and (max-width: 1169px){
        margin-bottom: 60px;
        justify-content: space-around;
    }  
}


.contacts{
    & > ul{
        padding: 0;
        margin: 0;
    }

    & > p{
        margin-bottom: 9px;
    
        color: $third-text-color;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
    }

    & a{
        display: block;
        margin-top: 0px;
    
        color: $secondary-text-color;
        font-size: 14px;
        line-height: 1.71;
        font-style: normal;
    }
    
    & li:first-child{
        margin-bottom: 9px;
    }
}

.footer{
    @media screen and (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    &-logo{
        display: block;
        margin-bottom: 20px;
    }

    &-flex{
        @media screen and (min-width: 1170px) {
            display: flex;
            align-items: baseline;
        }
        @media screen and (min-width: 768px) and (max-width: 1169px){
            padding: 60px 0px;
        }

        &-block{
            @media screen and (max-width: 767px) {
                text-align: center;
                margin-bottom: 60px;
            }
            @media screen and (max-width: 1169px) {
                text-align: center;
            }
        }
    }      
}

.footer-links{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    fill: $third-text-color;

    @media screen and (max-width: 767px) {
        // padding: 0;
        // margin: 0;
    }

    & .link{
        background-color: $line-developers-color;

        &-icon{
            fill: $third-text-color;
        }
    }
}

.join{
    margin-bottom: 20px;

    color: $third-text-color;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    @media screen and (max-width: 767px) {
        text-align: center;
    }

    @media screen and (min-width: 1170px) {
        text-align: left;
    }
}

.subscribe{
    @media screen and (max-width: 1169px) {
        text-align: center;
    }
    
    @media screen and (min-width: 1170px) {
        margin-top: 57px;
        margin-left: 94px;
    }

    &-urge{
        color: $third-text-color;
        font-size: 14px;
        line-height: 1.14;
        font-weight: 700;
        text-transform: uppercase;
    }
}

.subscribe-form{
    padding: 0;
    margin-top: 20px;

    @media screen and (min-width: 1170px) {
        display: flex;
    }

    &__field-input{
        padding-left: 16px;

        height: 50px;
    
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 1.87;
    
        background-color: transparent;
        border: 1px solid rgba(255, 255, 255, 0.3);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 4px;

        @media screen and (max-width: 767px) {
            width: 100%;
        }

        @media screen and (min-width: 768px) and (max-width: 1169px){
            width: 450px;
        }

        @media screen and (min-width: 1170px) {
            width: 358px;
        }
    }
}

.developers{
    color: $developers-color;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 0;
    padding-top: 18px;
    border-top: 1px solid $line-developers-color;
}

.submit{
    display: flex;
    align-items: center;
    padding-left: 29px;
    width: 200px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: $third-text-color;
    background-color: $link-color;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    @media screen and (max-width: 1169px) {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }

    @media screen and (min-width: 1170px) {
        margin-left: 12px;
    }

    &-svg{
        margin-left: 10px;
        width: 24px;
        height: 24px;
    }
}

.network{
    @media screen and (min-width: 1170px) {
        margin-left: 69px;
    }
}
