.nav-contacts{
    margin: 0;
    padding: 0;
    align-items: center;

    color: inherit;  
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;

    @media screen and (max-width: 767px) {
        font-size: 18px;
    }

    @media screen and (min-width: 768px) {
        display: flex;  
        padding: 0;
        margin: 0;
        font-size: 12px;
        line-height: 1.17;
        align-self: center;
        // text-align: left;
    }

    @media screen and (max-width: 1169px) {
        display: inline-block;
        flex-direction: column;

    }

        & .item{
            @media screen and (max-width: 767px) {
                margin-bottom: 16px;
                &:last-child{
                    margin-bottom: 0px;
                }
            }

            &:first-child {
                @media screen and (min-width: 767px) and (max-width: 1169px){
                    margin-bottom: 10px;
                }
            }
        }

        & .item + .item{
            @media screen and (min-width: 1170px) {
                display: flex;
                margin-left: 30px;
                align-items: center;
            }
        }

    & .item-link{
        display: flex;
        align-items: center;
        color: $secondary-text-color;
        transition: color $transition;

        @media screen and (max-width: 767px){
            display: inline-flex;
        }
    }
}

.item-icon{
    margin-right: 10px;

    &.mail{
        display: flex;
        width: 16px;
        height: 11px;
        transition: fill $transition;
        fill: $secondary-text-color;
    }

    &.phone{
        display: flex;
        width: 10px;
        height: 15px;
        transition: fill $transition;
        fill: $secondary-text-color;
    }
}

.item-link{
    .nav-contacts &:hover,
    .nav-contacts &:focus{
        color: $link-color;
        fill: $link-color;
    }
}

.item-link{
    .nav-contacts &:hover > .mail,
    .nav-contacts &:focus > .mail{
        fill: $link-color;
    }

    .nav-contacts &:hover > .phone,
    .nav-contacts &:focus > .phone{
        fill: $link-color;
    }
}