.advantages{
    padding: 0;
    margin: 0;
    display: flex;
    padding-top: 94px;
    padding-bottom: 94px;
    align-items: center;
    text-align: center;

    &-background{
            display: flex;
            margin-bottom: 30px;
            width: 270px;
            height: 120px;
            background-color: $resources-portfolio-color;
            border-radius: 4px;
            justify-content: center;
            align-items: center;
        }
    
    &-sprite{
            display: flex;
            width: 70px;
            height: 70px;
        }

    &-title{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 10px;
            height: 16px;
        }
    
    &-description{
            margin: 0;
            color: $secondary-text-color;
            max-width: 270px;
            font-size: 14px;
            line-height: 1.7;
            margin-bottom: 0px;
            height: 75px;
        }
}

.advantages-element, .benefit-item{
    text-align: left;
    /* padding: 0; */
    margin-right: 30px;

    &:last-child{
        margin-right: 0px;
    }
}

.benefit-item{
    position: relative;
}
