.advantages{
    padding: 0;
    margin: 0;
   
    align-items: center;
    // text-align: center;

    @media screen and (max-width: 767px){
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1170px) {
        display: flex;
        padding-top: 94px;
        padding-bottom: 94px;
    }

    &-background{
            display: flex;
            margin-bottom: 30px;
            height: 120px;
            background-color: $resources-portfolio-color;
            border-radius: 4px;
            justify-content: center;
            align-items: center;

            @media screen and (min-width: 480px){
                width: 450px;
            }
        
            @media screen and (min-width: 768px) {
                width: 354px;
            }
        
            @media screen and (min-width: 1170px) {
                width: 270px;
            }
        }
    
    &-sprite{
            display: flex;
            width: 70px;
            height: 70px;
        }

    &-title{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.14;
            text-transform: uppercase;
            margin: 0;
            margin-bottom: 10px;
            height: 16px;

            @media screen and (max-width: 767px){
                text-align: center;
            }
        }
    
    &-description{
            margin: 0;
            color: $secondary-text-color;
            font-size: 14px;
            line-height: 1.71;
            margin-bottom: 0px;
            letter-spacing: 0.03em;

            @media screen and (min-width: 480px) {
                text-align: left;
                width: 450px;
            }

            @media screen and (min-width: 768px) {
                width: 354px;
                height: 75px;
            }
            @media screen and (max-width: 1169px){
                margin-bottom: 30px;
            }
       
            @media screen and (min-width: 1170px) {
                width: 270px;
            }
        }
}

.advantages-element, .benefit-item{
    // text-align: center;
    // padding: 0;

    @media screen and (min-width: 768px) {
        margin-right: 30px;
        text-align: left;
    }

    &:nth-child(2n){
        @media screen and (min-width: 768px) {
            margin-right: 0px;
        }
        @media screen and (min-width: 1170px) {
            margin-right: 30px;
        }
    }
    
    &:last-child{
        margin-right: 0px;

        & > .advantages-description{
            @media screen and (min-width: 480px){
                margin-bottom: 0px;
            }
        }
    }

    &:nth-child(n + 3) > .advantages-description {
        @media screen and (min-width: 768px){
            margin-bottom: 0px;
        }

        @media screen and (min-width: 768px) and (max-width: 1169px){
            height: 50px;
        }
    }

    // & > .advantages-description{
    //     @media screen and (max-width: 479px){
    //         height: 50px;
    //     }
    // }
}

.benefit-item{
    position: relative;
}
