.employment-partners{
    @media screen and (max-width: 1169px){
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width: 1170px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.partners{
    margin: 0;
    padding: 0;
    display: flex;

    @media screen and (max-width: 1169px) {
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1170px) {
        justify-content: space-between;
    }

    &-image{
        display: flex;
        width: calc((100% - 30px) / 2);
        @media screen and (max-width: 767px){
            &:nth-child(2n) {
                margin-right: 0px;
            }
            &:nth-last-child(-n + 2) {
                margin-bottom: 0px;
            } 
        }
        @media screen and (max-width: 1169px) {
            margin-right: 30px;
            margin-bottom: 30px;
        } 
        
        @media screen and (min-width: 768px) {
            width: calc((100% - 90px) / 3);
            &:nth-last-child(-n + 3) {
                margin-bottom: 0px;
            }
            &:nth-child(3n + 0){
                margin-right: 0px;
            }
        }

     

    }
    
    &-logo{
        display: block;
        fill: $border-partners-company-color;
    
        transition: fill $transition;
    }
}

.partners-link{
    display: flex;
    height: 90px;
    border: 1px solid $border-partners-company-color;
    border-radius: 4px;
    justify-content: center;
    align-items: center;

    transition: border $transition;

    @media screen and (max-width: 1169px) {
        width: 100%;
    }

    @media screen and (min-width: 1170px) {
        width: 170px;
    }
    
        &:hover,
        &:focus{
            border: 1px solid $link-color;
        }

        &:hover > .partners-logo,
        &:focus > .partners-logo{
            fill: $link-color;
        }
}
