.title-section{
    padding: 0;
    margin: 0;
    margin-left: auto;
    margin-right: auto;

    font-weight: 700;

    line-height: 1.17;
    text-align: center;

    @media screen and (max-width: 1169px){
        margin-bottom: 30px;
        font-size: 28px;
    }

    @media screen and (min-width: 1170px){
        margin-bottom: 50px;
        font-size: 36px;
    }
}